Source: betaradio
Section: x11
Priority: optional
Maintainer: Shih-Yuan Lee (FourDollars) <fourdollars@debian.org>
Build-Depends:
    autotools-dev,
    debhelper (>= 9),
    libglib2.0-dev (>= 2.38),
    libgstreamer1.0-dev,
    libgtk-3-dev (>= 3.10),
    libjson-glib-dev,
    libltdl-dev,
    libsoup3.0-dev
Standards-Version: 4.7.0
Homepage: https://github.com/fourdollars/betaradio
Vcs-Browser: https://github.com/fourdollars/betaradio
Vcs-Git: git://github.com/fourdollars/betaradio.git

Package: betaradio
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    gstreamer1.0-plugins-bad,
    gstreamer1.0-plugins-ugly
Recommends: gstreamer1.0-libav
Description: Internet radios of Taiwan
 With this client you can listen to Internet radios of Taiwan without opening a
 browser. It displays a icon on system tray that you can click and select the
 channel you want to listen to.
